
.promo {
  .clearfix;
  margin-bottom: 35px;
}

.banner {
  width: 520px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 26px;
  margin-right: 26px;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: @font-size-h2;
    line-height: 40px;
    margin-bottom: 18px;
  }

  &__content {
    font-weight: 700;
    font-size: @font-size-base + 2px;
    margin-bottom: 40px;
  }

  &--berry {
    background: url("../image/banner1.png") no-repeat top center;
  }

  &--choco {
    background: url("../image/banner2.png") no-repeat top center;
  }
}







