.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.form-font {
  font-weight: 700;
  color: @gray-21;
  font-size: @font-size-base;
}

.placeholder-font {
  font-weight: 400;
  color: @bright-60;
  font-size: @font-size-base;
}
